* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  min-height: 100vh;
  color: #484848;
  line-height: 1;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 30px auto 0 auto;
}
